.path-mod-casa .casaframe {position: relative;width: 100%;height: 100%;}

/** General Styles **/
.path-mod-casa .userpicture,
.path-mod-casa .picture.user,
.path-mod-casa .picture.teacher {width:35px;height: 35px;vertical-align:top;}
.path-mod-casa .feedback .files,
.path-mod-casa .feedback .grade,
.path-mod-casa .feedback .outcome,
.path-mod-casa .feedback .finalgrade {float: right;}
.path-mod-casa .feedback .disabledfeedback {width: 500px;height: 250px;}
.path-mod-casa .feedback .from {float: left;}
.path-mod-casa .files img {margin-right: 4px;}
.path-mod-casa .files a {white-space:nowrap;}
.path-mod-casa .late {color: red;}
.path-mod-casa .message {text-align: center;}

/* Styles for admin */
.path-admin-mod-casa .mform .fitem .fitemtitle { min-width:18em;padding-right:1em } /* Prevent setting titles from wrapping */

/* Styles for instructor editing an external tool */

.path-mod-casa .mform .fitem .fitemtitle { min-width:14em;padding-right:1em } /* Prevent setting titles from wrapping */

/* Styles for instructor_edit_tool_type.php */
#page-mod-casa-instructor_edit_tool_type .mform .fitem .fitemtitle { min-width:18em;padding-right:1em } /* Prevent setting titles from wrapping */
